/* VERSÃO CSS: 1.0.18 */

body {
    background-color: #75c9e6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header {
    text-align: center;
}

h2.versao {
    text-align: end;
    font-size: 1.5em;
    color: black;
}

h2.textovoltar {
    text-align: end;
}

a#voltar {
    color: black;
    text-decoration: none;
}

a#voltar:hover {
    text-decoration: underline;
}

a#voltar:hover::after {
    content:" (Link)";
}

a#voltar:active {
    color: yellow;
}

main {
    background-color: white;
    border-radius: 75px;
    text-decoration: none;
    text-align: center;
    color: black;
}

a.linksex {
    color: #575757;
    text-decoration: none;
    text-align: center;
}

a.linksex:hover {
    text-decoration: underline;
}

a.linksex:hover::after {
    content:" (Link)";
}

a.linksex:active {
    color: yellow;
}

footer {
    text-align: center;
}

a.linksin {
    text-decoration: none;
    color: black;
}

a.linksin:hover {
    text-decoration: underline;
}

a.linksin:hover::after {
    content:" (Link)";
}

a.linksin:active {
    color: yellow;
}
